.drugList {
  padding: 8px 11px 10px;
  background-color: var(--color-input);
  border-radius: 5px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  margin-top: 7px;
}

.drugList__title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-right: 2px;
  color: var(--color-main);
  font-size: 14px;
  font-weight: 600;
}
.drugList__text {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 6px;
}

.drugList__text--avg {
  font-weight: 400;
  color: var(--color-placeholder);
}

.drugList__text--user {
  font-weight: 600;
  color: var(--color-sub);
}
