/* 전체 영역 */
.home-container {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    /* Figma 배경그라데이션 */
    background: linear-gradient(180deg,
            #497cff 4%,
            #1f5eff 44%,
            #001f6e 100%);
}

/* 로고 이미지 (배경 데코 이미지) */
.home-logo {
    position: absolute;
    top: 130px;
    left: 65%;
    width: 600px;
    transform: translateX(-50%);
    z-index: 1;
}

.text-wrap {
    position: relative;
    top: 100px;
    left: 24px;
    z-index: 2;
    color: #fff;
}

.sub-text {
    font-size: 44px;
    line-height: 50px;
    font-weight: 600;
    margin-bottom: 12px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    z-index: 2;
    margin: 0 0 20px 0;
}

.main-title {
    font-family: 'Taenada', sans-serif;
    font-size: 60px;
    line-height: 45px;
    letter-spacing: -0.05em;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.btn-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
    margin-top: 320px;
}

.go-btn {
    background: white;
    color: var(--color-main);
    padding: 19px 35px 12px 35px;
    border-radius: 16px;
    font-size: 32px;
    line-height: 45px;
    letter-spacing: -0.05em;
    font-family: 'Taenada', sans-serif;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    z-index: 2;
    cursor: pointer;
}