.layout__container {
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  overflow-y: scroll;
}

.layout__page {
  z-index: 10px;
  max-width: 450px;
  width: 100%;
  overflow-y: auto;
}
